MONGO_URI=YOUR_MONGO_URI
PORT=YOUR_PORT_NUMBER
JWT_SECRET_KEY=GENERATE_A_RANDOM_JWT
RESET_PASSWORD_SECRET=GENERATE_A_RANDOM_JWT
EMAIL_USER=YOUR_EMAIL
EMAIL_PASSWORD=YOUR_APP_PASSWORD
FRONTEND_URL=YOUR_FRONTEND_URL